* {
  margin: 0;
  padding: 0;
}

.header-image{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 800px;
  height: 80px;
  width: 80px;
}

.header-nav {
  background-color:#ffffff;
  position: fixed;
  height: 80px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

nav {
  margin-right: 5%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ffffff;
  font-size: 15px;
  color:#933434;
}

/*   First block   */
#first-block {
  background-color: #933434;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.J-image{
  height: 500px;
  position:absolute;
  top:100px;
  left:0px
}

.title-container {
  text-align: center;
}

h1 {
  font-size: 90px;
  margin-top: 200px;
  color: #ffffff;
}

h2{
  font-size: 30px;
  padding-left: 400px;
  margin-top: -30px;
  color:#ffffff;
}

.p1 {
  font-size: 15px;
  padding-top: 50px;
  color: #ffffff;
}

.p2{
  font-size: 25px;
  padding-top: 20px;
  color: #c4c4c4;
}

.title-image{
  width: 50px;
  height: 50px;
}
/*   First block End   */

/*   Second block   */
#second-block {
  background-color: #c4c4c4;
  text-align: center;
  width: 100%;
  height: 600px;
}

.info-title1{
  margin-top: 20px;
  margin-bottom: 1%;
  font-size: 40px;
  color: #933434;
}

.about-container1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.info-text1 {
  font-size: 25px;
  background-color:#d49393;
  color: #933434;
  margin: 15%;
  border-radius:10px;
  padding-bottom: 8%;
}
.text1{
  font-size: 25px;
  background-color:#d49393 ;
  color: #933434;
  margin: 15%;
  border-radius:10px;
  padding-bottom: 8%;
}

.text2{
  font-size: 25px;
  background-color:#d49393 ;
  color:#933434;
  margin: 15%;
  border-radius:10px;
  padding-bottom: 8%;
}

.second-image{
  width:65% ;
  height:65%;
  margin-bottom: -10%;
}
/*   Second block End   */


/*   Third block   */
#third-block {
  background-color: #d49393;
  text-align: center;
  width: 100%;
  height: 600px;
}

.about-container2{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.info-title2 {
  font-size: 40px;
  margin-top:20px ;
  margin-bottom: 60px;
  color: #933434;
}

.info-text2 {
  background-color: #933434;
  font-size: 30px;
  color: #ffffff;
  width: 50%;
  margin-left: 100px;
  margin-right: 30px;
  padding-top: 50px;
  padding-bottom: 90px;
  border-radius:10px;

}

.info-text3{
  background-color: #933434;
  font-size: 30px;
  color: #ffffff;
  width: 50%;
  margin-left: 30px;
  margin-right: 100px;
  padding-top: 50px;
  padding-bottom: 90px;
  border-radius:10px;
}

.font-small2 {
  font-size: 20px;
}

.third-image{
    width:30% ;
    height:30%;
    margin-bottom: 20px;
}

.fourth-image{    
  width:15% ;
  height:15%;
  margin-bottom: 30px;
}

/*   Third block End   */

/*   Fourth block   */
#fourth-block {
  background-color: #933434;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-container3{
  background-color:#ffffff;
  width:75%;
  height:70% ;
  border-radius:50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.shinnjitsu{
  font-size: 40px;
  color: #933434;
  margin-top: 100px;
  margin-left: 30px;
}

.apuri{
  font-size:25px;
  color: #933434;
  margin-top: 30px;
  margin-left: 20px;
}

.fifth-image{
  width:150px ;
  margin-left: 100px;
}

.sixth-image{
  width:250px;
  margin-right: 20px;
}

.saki{
  font-size: 30px;
  color: #ffffff;
  background-color: #d49393;
  border-radius:50px;
  margin-top: 30px;
padding: 30px;
padding-left: 50px;
padding-right: 50px;
}

.saki:hover {/*ホバー時*/
  color:#933434;/*文字色*/
  cursor:pointer
}


/*   Fourth block End   */
